<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ScratchActivity"
            android:exported="false"
            android:label="Pinned Scratchpad"
            android:launchMode="standard"
            android:documentLaunchMode="always"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
    </application>

</manifest>
